<%- include('../partials/htmlHeader') %><%- include('../partials/navbar') %>
<form action="/pengajar/<%= course.id %>/detailCourse" method="POST">
  <div class="row justify-content-center m-0 py-4" style="width: 100vw">
    <div class="col-4">
      <div class="card shadow sticky-top">
        <div class="card-header d-flex flex-row align-items-center justify-content-between">
          <h4>Edit Course</h4>
          <a href="/pengajar" class="btn btn-sm btn-info btn-icon-split">
            <span class="icon">
              <i class="fa fa-angle-left"></i>
            </span>
            <span class="text">Back</span>
          </a>
        </div>
        <div class="card-body">
          <% if (errors) { %> <% errors.forEach(e => {%>
          <span class="badge badge-pill badge-danger"><%= e %></span>
          <% }) %>
          <br /><br />
          <% } %>
          <% if (message) { %>
           <span class="text-success">Successfully updated</span>
          <% } %>
          <div class="form-group">
            <label for="name">Name</label>
            <input autocomplete="off" class="form-control" type="text" name="name" id="name" value="<%= course.name %>" />
          </div>
          <div class="form-group">
            <label for="name">Duration</label>
            <div class="row">
              <div class="col-10">
                <input autocomplete="off" class="form-control" type="text" name="duration" id="name" value="<%= course.duration %>" />
              </div>
              <div class="col-2">Day</div>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Price</label>
            <div class="row">
              <div class="col-10">
                <input autocomplete="off" class="form-control" type="text" name="price" id="name" value="<%= course.price %>" />
              </div>
              <div class="col-2">IDR</div>
            </div>
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" name="CategoryId" id="category">
              <% category.forEach(c => { %>
              <option value="<%= c.id %>" <% c.id === course.id ? 'selected' : false %> ><%= c.name %></option>
              <% }) %>
            </select>
          </div>
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-block btn-primary">Submit</button>
            </div>
            <div class="col">
              <button type="reset" class="btn btn-block btn-danger">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card shadow">
        <div class="card-header d-flex flex-row align-items-center justify-content-between">
          <h4>Description</h4>
        </div>
        <div class="card-body">
          <div class="form-group">
            <textarea name="description" rows="20" class="form-control"><%= course.description %></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<%- include('../partials/htmlFooter') %>
