<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sewa Course</title>
    <style>
      ul {
        padding: 0;
      }
      ul#nav li {
        display: inline;
      }
    </style>
  </head>
  <body>
    <h1>Ruang Belajar</h1>
    <ul id="nav">
      <li><a href="/siswa">My Course</a></li>
      &nbsp;||&nbsp;
      <li><a href="/siswa/profile">Profile</a></li>
      &nbsp;||&nbsp;
      <li><a href="/siswa/logout">Logout</a></li>
    </ul>

    <table border="1">
      <thead>
        <th>No</th>
        <th>Name</th>
        <th>Durasi</th>
        <th>Pengajar</th>
        <th>Posted</th>
        <th>Harga</th>
        <th>Aksi</th>
      </thead>
      <tbody>
        <% data.forEach((d, i) => { %> <% let found = false %> <% d.Students.forEach(s => { %> <% if (s.id === id) { %> <% found = true %> <% } %> <% }) %> <% if (!found) { %>
        <tr>
          <td><% i++ %><%= i %></td>
          <td><%= d.name %></td>
          <td><%= d.duration %> hari</td>
          <td><%= d.Teacher.username %></td>
          <td><%= dateFormatter(d.createdAt) %></td>
          <td><%= d.getPrice() %></td>
          <td><a href="/siswa/<%= d.id %>/add-course">Sewa</a></td>
        </tr>
        <% } %> <% }) %>
      </tbody>
    </table>
  </body>
</html>
